@using News.Application.Statics
@using News.Domain.ViewModels.Footer
@model FooterViewModel

<footer>
    <div class="col-12 row m-0 footer body-footer">
        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">درباره ما</h6>
            <p class="text-footer">

            </p>
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">جدیدترین ارسال ها</h6>
            <ul class="list-unstyled">
                <!--News 1 -->
                @foreach (var item in Model.Reports)
                {
                    <li class="d-block">
                        <div class="d-inline-flex align-items-center">

                            @if (item.ReportGroup.GroupName == "MultiMedia")
                            {
                                <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@item.Id">
                                    <video src="@(SiteTools.ReportImagesName + item.Image)" preload="metadata" class="rounded img-Footer" alt="@item.ImageAlt"></video>
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@item.Id">
                                    <img src="@(SiteTools.ReportImagesName + item.Image)" class="rounded img-Footer" alt="@item.ImageAlt">
                                </a>
                            }
                            <p class="px-2">
                                <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@item.Id" class="text-decoration-none text-footer">
                                    @item.Title
                                    <i class="@((item.ReportGroup.GroupName == "MultiMedia") ? "fa fa-film" : "")"></i>
                                </a>
                            </p>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">جدیدترین نظرات کاربران</h6>
            <!--Comment 1 -->
            @foreach (var comment in Model.Comments)
            {
                <h6 class="comment-name-footer">@comment.Name</h6>
                <p class="text-footer">
                    @Html.Raw(comment.CommentText)
                </p>
            }
        </div>

        <div class="col-12 col-md-6 col-lg-3 p-4">
            <h6 class="pb-4">گالری تصاویر</h6>

            <ul class="list-unstyled ">
                @foreach (var image in Model.Images)
                {
                    <li class="d-inline-flex">
                        <img id="@image.Id" src="@(SiteTools.GalleryImagesMethod(image.Gallery.GallryName) + image.ImageName)" class="rounded img-Footer" alt="@image.Gallery.GallryName">
                    </li>


                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <script>
                        var modal = document.getElementById('myModal');
                        var img = document.getElementById('@image.Id');
                        var modalImg = document.getElementById('img01');
                        modalImg.style.height = "90%";
                        modalImg.style.width = "90%";
                        var captionText = document.getElementById('caption');
                        img.onclick = function () {
                            modal.style.display = "block";
                            modal.style.height = "100%";
                            modalImg.src = this.src;
                            captionText.innerHTML = this.alt;
                        }
                        var span = document.getElementsByClassName("close")[0];
                        span.onclick = function () {
                            modal.style.display = "none";
                        }
                    </script>
                }
            </ul>
        </div>
    </div>
</footer>
