@using News.Application.Extensions
@using News.Application.Statics
@using News.Domain.Entities.Reports
@model List<Report>


<div class="tab-pane fade" id="Cultural-tab-pane" role="tabpanel" aria-labelledby="Cultural-tab" tabindex="0">
    <div class="my-2 body-text-NavTab">
        <a class="text-decoration-none text-NavTab"> <i class="fas fa-bars ms-3"></i> همه اخبار </a>
    </div>
    @if (Model != null && Model.Any())
    {
        <div class="card-group mb-4 list-group-unbordered">
            @foreach (var report in Model)
            {
                <div class="card p-2  border-secondary">
                    <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@report.Id"><img src="@(SiteTools.ReportImagesName + report.Image)" title="@report.ImageTitle" class="card-img-top body-img-NavTab" alt="@report.ImageAlt"></a>
                    <div class="card-body">
                        <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@report.Id" class="text-decoration-none"><p class="card-title text-black body-card-NavTab"> @report.Title </p></a>
                        <p class="card-text" style="margin-bottom: 2rem;">
                            @report.Description
                        </p>
                        <p class="card-text" style="position:absolute; bottom:20px;"><small class="text-body-secondary"><i class="fas fa-clock"></i> @report.CreateDate.ToStringShamsiDate() </small></p>
                    </div>
                </div>
            }
        </div>
    }
</div>