@using News.Application.Statics
@using News.Domain.ViewModels.ReportGroups;
@model FilterReportGroupsViewModel

@{
    ViewData["Title"] = "لیست گروه خبری";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <div class="card">
            <div class="header">
                <h2>
                    فیلتر ها
                </h2>
            </div>
            <div class="body">
                <form asp-area="Admin" asp-controller="Report" asp-action="FilterReportGroups" method="get" id="filter-search">
                    <input type="hidden" asp-for="CurrentPage" />
                    <div class="row clearfix">
                        <div class="col-sm-12  col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" asp-for="GroupName" class="form-control">
                                    <label asp-for="GroupName" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-success">جستجو</button>
                            @if (Context.Request.QueryString.HasValue)
                            {
                                <a asp-area="Admin" asp-controller="Report" asp-action="FilterReportGroups" class="btn btn-raised btn-primary btn-round waves-effect">حذف فیلتر</a>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <strong>@ViewData["Title"]</strong>
                </h2>
            </div>
            <div class="body table-responsive">
                @if (Model.Entities != null && Model.Entities.Any())
                {
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>آیدی</th>
                                <th>سر تیتر</th>
                                <th> عکس</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reportGroup in Model.Entities)
                            {
                                <tr id="reportGroup-row-@reportGroup.Id">
                                    <th scope="row">@reportGroup.Id</th>
                                    <td>@reportGroup.GroupName</td>
                                    <td><img src="@(string.IsNullOrEmpty(reportGroup.GroupImage) ? SiteTools.DefaultImageName : (SiteTools.ReportGroupImagesName + reportGroup.GroupImage))" alt="@reportGroup.GroupName" class="border" width="100px" height="100px"></td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Report" asp-action="DetailsReportGroup" asp-route-reportGroupId="@reportGroup.Id" class="text-warning">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a asp-area="Admin" asp-controller="Report" asp-action="EditReportGroup" asp-route-reportGroupId="@reportGroup.Id" class="text-warning">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                        <a onclick="deleteReportGroup('@reportGroup.Id')" class="text-warning">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="_AdminPagination" model="@Model.GetPaging()" />
                }
                else
                {
                    <partial name="_AdminNotFound" />
                }
                else
                {
                <div>
                    <h4>خالی می باشد</h4>
                </div>
                }
            </div>
        </div>
    </div>
</div>

