@using News.Domain.Entities.Reports
@using News.Domain.ViewModels.Reports
@using News.Application.Extensions
@using News.Application.Statics
@model FilterReportForShowViewModel

@{
    ViewData["Title"] = "لیست اخبارات";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <!-- Start Col-9 -->
        <form asp-area="" asp-controller="report" asp-action="ReportGroup" asp-route-urlName="@Model.UrlName" method="get" id="filter-search">
            <input type="hidden" asp-for="CurrentPage" />
            <input type="hidden" asp-for="UrlName" />
            <input type="hidden" asp-for="GroupName" />
            <h5> @Model!.GroupName </h5>
            <div class="col-12 col-lg-9 mb-5">
                <div class="bg-light-subtle border-style rounded p-3">
                    @if (Model.Entities != null && Model.Entities.Any())
                    {
                        <ul class=" d-none d-sm-flex row mb-3 list-unstyled">
                            <!-- Card 1 -->
                            @foreach (var item in Model.Entities)
                            {
                                <li class="sport-card col-xl-3 col-lg-4 col-sm-6 my-sm-2">
                                    <div class=" card shadow">
                                        <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@item.Id">
                                            @if (Model.UrlName == "MultiMedia")
                                            {
                                                <video src="@(SiteTools.ReportImagesName + item.Image)" class="card-img-top" preload="metadata" controls style="max-width: 100%; height: 150px ; max-height: 150px;" title="@item.ImageTitle" alt="@item.ImageAlt"></video>
                                            }
                                            else
                                            {
                                                <img src="@(SiteTools.ReportImagesName + item.Image)" class="card-img-top" style="max-width: 100%; height: 150px ; max-height: 150px;" title="@item.ImageTitle" alt="@item.ImageAlt">
                                            }
                                        </a>
                                        <div class="card-body bg-body-secondary p-2" style="max-width: 100%; height:110px; max-height: 110px; overflow:hidden; border-top: 2px solid red;">
                                            <a asp-area="" asp-controller="report" asp-action="report" asp-route-reportId="@item.Id" class="text-decoration-none">
                                                <p class="m-0"> @item.Title </p>
                                                <div class="position-absolute" style="top: 90%; width: 95%;">
                                                    <p class="d-inline-block bg-body-secondary px-1 m-0" style="color: #b9b9bb; font-size: .7rem; width: 100%;">   <i class="fas fa-clock" style="color: #b9b9bb; font-size: .7rem;"></i> <small class="text-body-secondary"> @item.CreateDate.ToShamsiDateTime() </small> </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <!-- Pagination -->
                <partial name="_Pagination" model="@Model.GetPaging()" />
                <!-- End Pagination -->
            </div>
        </form>
        <!--End Col-9 -->
        <!--Start Col-3 -->
        <div class="col-12 d-none col-lg-3 d-lg-block ">
            <!-- Start Color-Palet -->
            <div class="row mb-5">
                <partial name="_ColorPalet" />
            </div>
            <!-- End Color-Palet -->
            <!-- Side Search -->
            <div class="row mb-4">
                <div class="bg-body-secondary rounded shadow position-relative py-2" style="border-top: 10px solid salmon; height:auto;">

                    <div class="col-12">

                        <div class="form-group">
                            <label class="control-label d-block" style="font-size: .8rem;">جستجو در متن</label>
                            <form class="search-form text-center">
                                <input type="text" class="form-control d-inline-flex align-items-center" style="width:76%; font-size: .8rem;" name="q" placeholder="جستجو کنید ...">
                                <button class="form-control d-inline-flex bg-transparent border-0" style="width: auto;"><svg class="svg-inline--fa fa-magnifying-glass text-white" style="font-size: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg><!-- <i class="fas fa-search text-white" style="font-size: 20px;"></i> Font Awesome fontawesome.com --></button>
                            </form>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label class="control-label d-block" style="font-size: .8rem;">تاریخ</label>
                            <form class="search-form text-center">
                                <input type="text" class="example1 d-inline-flex form-control" style="width:76%; font-size: .8rem;" name="date" onclick="Mh1PersianDatePicker.Show(this,'1402/05/07')">
                                <button class="form-control d-inline-flex bg-transparent border-0" style="width:auto;"><svg class="svg-inline--fa fa-magnifying-glass text-info" style="font-size: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg><!-- <i class="fas fa-search text-info" style="font-size: 20px;"></i> Font Awesome fontawesome.com --></button>
                            </form>
                        </div>

                        <hr>
                        <div class="form-group">
                            <label class="control-label d-block" style="font-size: .8rem;">دسته بندی اخبار</label>
                            <form class="search-form text-center">
                                <input type="hidden" value="">
                                <select class="form-control d-inline-flex" style="width:76%; font-size: .8rem;" name="Group">
                                    <option>همه</option>
                                    <option>فرهنگی</option>
                                    <option>سیاسی</option>
                                    <option>اجتماعی</option>
                                    <option>هنری</option>
                                </select>
                                <button class="form-control d-inline-flex bg-transparent border-0" style="width:auto;"><svg class="svg-inline--fa fa-magnifying-glass text-body" style="font-size: 20px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg><!-- <i class="fas fa-search text-body" style="font-size: 20px;"></i> Font Awesome fontawesome.com --></button>
                            </form>
                        </div>

                    </div>


                </div>
            </div>
            <!-- End Side Search -->
            <!-- LastNews -->
            <div class="my-3">
                <!-- Start LastNews -->
                @await Component.InvokeAsync("LastNewsReportsViewComponent")
                <!-- End LastNews -->
            </div>
            <!-- End LasrNews -->
        </div>
        <!--End Col-3 -->
    </div>
</div>

